<h1>$HTTP TO LOCALHOST (fixed token)</h1>

<p>HOME</p>
<ul>
	<li ng-repeat="link in homelinks">
	<ul>
		<li ng-repeat="(key, value) in link">
			{{key}} --> {{value}}
		</li>
	</ul>
	</li>
</ul>
<hr>
<p>SERVICES</p>
<ul>
	<li ng-repeat="(key, value) in servicesObj">
	<ul>
		{{key}}
		<li ng-repeat="link in value">
			<ul>
				<li ng-repeat="(key, value) in link">
					{{key}} --> {{value}}
				</li>
			</ul>
		</li>	
	</ul>
</ul>	
<hr>

<p>PERSONS</p>
<ul>
	<li ng-repeat="(key, value) in personsObj">
	<ul>
		{{key}}
		<li ng-repeat="link in value">
			<ul>
				<li ng-repeat="(key, value) in link">
					{{key}} --> {{value}}
				</li>
			</ul>
		</li>	
	</ul>
</ul>	
<hr>

<p>ALLPERSONS invoke</p>
<ul>
	<li ng-repeat="(key, value) in allpersonsObj.result">
	<ul>
		{{key}}
		<li ng-repeat="link in value">
			<ul>
				<li ng-repeat="(key, value) in link">
					{{key}} --> {{value}}
				</li>
			</ul>
		</li>	
	</ul>
</ul>	
<hr>
<!-- <p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
 -->