<h1>PERSONEN</h1>
<div id="div_allepersonen">
	<p>ALLE PERSONEN</p>
	<ul>
		<li ng-repeat="(key, value) in allpersonsObj">
			<a href="" ng-click="detailAction(value.href, value.title)">{{value.title}}</a>
		</li>
	</ul>
</div>

<div id="div_details">
<p>DETAILS</p>
<b>{{Person_Title}}</b>
<ul>
	<li ng-repeat="(key, value) in Person_Obj.members" ng-if="showMember(value.memberType)">
		{{key}} : {{value.value}}
	</li>
</ul>
</div>
<div id="div_nieuwepersoon">
	<p>NIEUWE PERSOON</p>
	<form name="addPersonForm" 
		ng-controller="AddPersonController as addCtrl" 
		ng-submit="addPersonForm.$valid && addCtrl.addPers()" novalidate>
		<ul>
			<li>
			<input ng-model="addCtrl.addPerson.referentie" type="text" name="referentie" id="referentie" placeholder="referentie (uniek: CAPS)" required /></li>
			<li>
			<input ng-model="addCtrl.addPerson.referentie_h" type="hidden" name="referentie_h" id="referentie_h" value="{{addCtrl.addPerson.achternaam | uppercase}}{{addCtrl.addPerson.voornaam | uppercase }}" /></li>
			<li>
			<input ng-model="addCtrl.addPerson.voornaam" type="text" name="voornaam" id="voornaam" placeholder="voornaam" required/> </li>
			<li>
			<input ng-model="addCtrl.addPerson.tussen" type="text" name="tussen" id="tussen" placeholder="tussen" /></li>			
			<li>
			<input ng-model="addCtrl.addPerson.achternaam" type="text" name="achternaam" id="achternaam" placeholder="achternaam" required/></li>
			<li>
			<select ng-model="addCtrl.addPerson.geslacht"  name="geslacht" id="geslacht" style="width: 215px; margin-bottom: 5px;" required>
				<option value="" disabled selected>geslacht</option>
				<option value="MALE">man</option>
				<option value="FEMALE">vrouw</option>
			</select>
			</li>
			<li>
			<input ng-model="addCtrl.addPerson.geboortedatum" type="text" name="geboortedatum" id="geboortedatum" placeholder="geboortedatum" required/></li>
			<li>
			<input ng-model="addCtrl.addPerson.geboorteplaats" type="text" name="geboorteplaats" id="geboorteplaats" placeholder="geboorteplaats" required/></li>
			<li>
			<input ng-model="addCtrl.addPerson.nationaliteit" type="text" name="nationaliteit" id="nationaliteit" placeholder="nationaliteit" required/></li>
			<li><input type="submit" value="verstuur" ng-show="addPersonForm.$valid"/></li>
		</ul>
		<p class="small">debug info:<br />
		Form is valid: {{addPersonForm.$valid}}<br />
		{{addCtrl.addPerson.referentie_h}}</p>
		<p class="small"> {{addCtrl.NewPersonResp_Obj}} </p>
	</form>
</div>
<div style="clear: both";></div>
<hr>
<div style="margin: 20px;">
<p class="small"><a href="{{pathchosen}}">{{pathchosen}}</a></p>	
</div>
<hr />


<hr />